MATH 521/Recordings/math521_lge.mov
MATH 521/Recordings/math521_feb27.mov
LAMMPS-64bit-stable.exe
/MECH 503/Project/*.exe
/MECH 503/Project/LAMMPS-64bit-stable.exe
MECH 503/Handout/04April2022_WaveEquation.pdf
MECH 503/Handout/06April2022_WaveNumericalExamples.pdf
MECH 503/Handout/29March2022_AxisymmetrcSolution.pdf
MECH 503/Handout/22March2022_Airy'sPotentialFunction_BeamTransverseLoading.pdf
MECH 503/Handout/29March2022_Beyond_axisymmetry.pdf
MECH 503/Handout/Airy_sPotentialFunction.pdf
MECH 503/Handout/Airy'sPotentialFunction_BeamTransverseLoading2022W2.pdf
MECH 503/Handout/Airy'sPotentialFunction_FourierMethods2022W2.pdf
MECH 503/Handout/LinearElasticity2022W2.pdf
MECH 503/Handout/Vectors_Matrix_Index_Notation.pdf
MECH 503/Handout/Wave_Equation_2023W2.pdf
MECH 503/HW3/503.pdf
MECH 503/HW3/special homework .pdf
MECH 570C/Slides_export.zip
