nder
nsg     = 64
np      = 64
fmt     = ascii
pDir    = .
dir     = ./DTMB5415RESULT
host    = Eagle
#=========================================================================
# CNN AND CRD FILES USED FOR PLOTTING
#=========================================================================
cnn     = domain.fluid.cnn
crd     = domain.crd
nen     = 4
outFreq = 100
verbose = 1
#epsilon = 0.01

#restartFlag = 1
#restartTsId = 3000
~                                                                                                                       ~                      
